*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFD700; 
    color: black;
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
    text-decoration: none;
}
header{
    display: flex;
    text-decoration: none;
    background-color: #000;
    padding: 20px 50px;
    align-items: center;
    justify-content: space-between;
}
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #FFD700;
}
nav{
    text-decoration: none;
}