*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #FFD700; 
    color: black;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #FFD700;
    text-decoration: none;
}
header{
    display: flex;
    text-decoration: none;
    background-color: #000;
    padding: 8px 20px;
    align-items: center;
    justify-content: space-between;
}
nav a{
    margin: 0 15px;
    text-decoration: none;
    color: #FFD700;
}
nav{
    text-decoration: none;
}
nav a:hover{
    opacity: 0.8;
}
nav a.active{
    border-bottom: 3px solid #FFD700;
    padding-bottom: 5px;
}
.login{
    background-color: transparent;
    color: #FFD700;
    border: 2px solid #FFD700;
}
.signup{
    background-color: #FFD700;
    color: #000;
}
.signup-link {
  background-color: #FFD700;
  color: #000;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
  border: 2px solid #000;
}

.signup-link:hover {
  background-color: #000;
  color: #FFD700;
}
nav a.login {
  margin-left: 15px;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  color: #FFD700;
  border: 2px solid #FFD700;
  position: relative;
  z-index: 9999;
  pointer-events: auto;
}
.product-grid{
    margin: 0;
    padding: 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}
.product{
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 5px;
    background-color: #ffd700;
}
.product img{
    width: 100%;
    height: auto;
}
.buy-now{
    background-color: #000;
    color: #FFD700;
    padding: 10px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.1s;
    border: 1px solid #000;
}
.price {
    margin-top: -8px;
}
.buy-now:hover{
    color: #ffd700;
    cursor: pointer;
    background-color: #000;    
    border: 2px solid #ffd700;
}